# Byte-code compilado ou cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de distribuição/pacote
build/
dist/
*.egg-info/
*.egg

# Ambientes Virtuais (ESSENCIAL)
venv/
.venv/
env/
.env/

# Arquivos de segredos (NUNCA versionar)
.env
*.env

# Arquivos de IDE (VS Code)
.vscode/

# Arquivos de sistema (Windows/Mac)
.DS_Store
Thumbs.db

# Ignorar chaves de serviço do Google
gcp-service-account.json

# Scripts de Manutenção Local
debug_pinecone.py
reset_pinecone.py