<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}LauraBot - Comunicados{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head_styles %}{% endblock %}
</head>
<body>

    <div class="app-wrapper">

        <main class_="main-content">
            {% block content %}
            {% endblock %}
        </main>

    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    {% block scripts %}{% endblock %}
</body>
</html>